<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<b>Job Details</b>
		</div>
		<div class="panel-body">
			<ul style="list-style: none">
              <li ng-repeat="job in jobs">
              <a ng-click="showJobDetails(job.id)">{{job.jobTitle}}</a><br>
              <b>Posted On:</b>{{job.postedOn | date:'yyyy-MM-dd' }}
              <div ng-show="showJob && id==job.id">
              <b>Job Description:</b>{{job.jobDescription}}<br>
              <b>Salary:</b>{{job.salary}}<br>
              <b>Location:</b>{{job.location}}<br>
              <b>Skills Required:</b>{{job.skillsRequired}}<br>
              <b>Company Name:</b>{{job.companyname}}
              </div>
              <hr>
              </li>
			</ul>
		</div>
	</div>

</div>
